<% if alert %>
<div class="application-notification">
 <div class="alert">
   <%= alert %>
 </div>
</div>
<% end %>

<% if notice %>
 <div class="application-notification">
   <div class="notice">
     <%= notice %>
   </div>
 </div>
<% end %>
